* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 6%;
}
.header-bg {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 460px;
  height: 460px;
  right: -43px;
  top: -174px;
}

.logo {
  width: 154.617px;
  height: 30px;
  margin-bottom: 5rem;
}

.illustration-charts {
  width: 200px;
  height: 223.579px;
}

.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hText {
  color: var(--colors-neutral-800, #333950);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.hPara {
  color: var(--colors-neutral-500, #747b95);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.headerBtn {
  display: flex;
  padding: var(--corner-radius-12, 12px) var(--spacing-500, 40px);
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  background: var(--colors-blue-500, #5175ff);
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);
  color: var(--colors-neutral-0, #ffffff);
  border: none;
}

/* MAIN----------------------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px;
  border-radius: var(--spacing-150, 12px);
  background: var(--colors-neutral-0, #fff);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.24);
}

.card2 {
  display: flex;
  padding: var(--spacing-600, 48px) var(--spacing-400, 32px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-600, 48px);
  align-self: stretch;
  border-radius: var(--spacing-150, 12px);
  background: var(--colors-blue-500, #5175ff);
  box-shadow: 0px 50px 50px 0px rgba(75, 92, 154, 0.25);
}

.cardHeader {
  text-align: center;
}

.card2 .cardHeader {
  text-align: center;
}

.cardHeader h5 {
  color: var(--colors-neutral-900, #25293a);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.card2 .cardHeader h5,
.card2 .cardHeader h1,
.card2 .cardHeader span,
.card2 .cardBody {
  color: var(--colors-neutral-0, #ffffff);
}

.cardHeader h1 {
  color: var(--colors-neutral-900, #25293a);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}

.cardHeader span {
  color: var(--colors-neutral-900, #25293a);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.cardBody,
.card2 .cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardBtnB {
  padding: var(--spacing-150, 12px) var(--spacing-500, 40px);
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  background: var(--colors-blue-100, #e4eaff);
  border: none;
  color: var(--colors-blue-500, #5175ff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* text-preset-5 */
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

/* Footer--------------------------------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f4{
  color: var(--colors-neutral-0, #FFF);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;

/* text-preset-6 */
font-family: "Kumbh Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
letter-spacing: 5px;
text-transform: uppercase;
}

.f4 span{
  color: var(--colors-blue-500, #5175FF);
}

.countdown {
  display: flex;
  gap: 20px;
}

.days
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 16px var(--spacing-200, 16px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--spacing-150, 12px);
  background: var(--colors-neutral-800, #333950);
  padding: var(--spacing-200, 16px) var(--spacing-150, 12px);
}

.dayNum{
color: var(--colors-neutral-0, #FFF);
text-align: center;
font-family: "Kumbh Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 48px */
}

.dayName{
  color: var(--colors-neutral-0, #FFF);
text-align: center;
opacity: 0.5;
font-family: "Kumbh Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
}



