* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 6%;
}
.header-bg {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 460px;
  height: 460px;
  right: -43px;
  top: -174px;
}

.logo {
  width: 154.617px;
  height: 30px;
  margin-bottom: 5rem;
}

.illustration-charts {
  width: 200px;
  height: 223.579px;
}

.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hText {
  color: var(--colors-neutral-800, #333950);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.hPara {
  color: var(--colors-neutral-500, #747b95);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.headerBtn {
  display: flex;
  padding: var(--corner-radius-12, 12px) var(--spacing-500, 40px);
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  background: var(--colors-blue-500, #5175ff);
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);
  color: var(--colors-neutral-0, #ffffff);
  border: none;
}

/* MAIN----------------------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.pricing-bg{
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px;
  border-radius: var(--spacing-150, 12px);
  background: var(--colors-neutral-0, #fff);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.24);
}

.card2 {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px;
  border-radius: var(--spacing-150, 12px);
 background: var(--colors-blue-500, #5175ff);
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.24);
}

.cardHeader {
  text-align: center;
}

.card2 .cardHeader {
  text-align: center;
}

.cardHeader h5 {
  color: var(--colors-neutral-900, #25293a);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */

}

.card2 .cardHeader h5,
.card2 .cardHeader h1,
.card2 .cardHeader span,
.card2 .cardBody {
  color: var(--colors-neutral-0, #ffffff);
}

.cardHeader h1 {
  color: var(--colors-neutral-900, #25293a);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}

.cardHeader span {
  color: var(--colors-neutral-900, #25293a);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.cardBody,
.card2 .cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardBtnB {
  padding: var(--spacing-150, 12px) var(--spacing-500, 40px);
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  background: var(--colors-blue-100, #e4eaff);
  border: none;
  color: var(--colors-blue-500, #5175ff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* text-preset-5 */
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

/* Footer--------------------------------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.f4 {
  color: var(--colors-neutral-0, #fff);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  letter-spacing: 5px;
}

.f4 span {
  color: var(--colors-blue-500, #5175ff);
}

.countdown {
  display: flex;
  gap: 10px;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px var(--spacing-200, 16px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--spacing-150, 12px);
  background: var(--colors-neutral-800, #333950);
  width: 67px;
  height: 75px;
}

.dayNum {
  color: var(--colors-neutral-0, #fff);
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.dayName {
  color: var(--colors-neutral-0, #fff);
  text-align: center;
  opacity: 0.5;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

.getStartedBtn {
  display: flex;
  padding: var(--corner-radius-12, 12px) var(--spacing-500, 40px);
  align-items: center;
  gap: 10px;
  border-radius: var(--corner-radius-full, 999px);
  background: var(--colors-blue-500, #5175ff);
  border: none;
  color: var(--colors-neutral-0, #fff);
}

/* hero */

.hero {
  position: absolute;
  width: 100vw;
  height: 1248px;
  background: var(--colors-neutral-900, #25293a);
  z-index: -1;
  top: 1440px;
}

.hero img {
  width: 848.418px;
  height: 848.418px;
  position: relative;
  top: 400px;
  right: 195px;
}

/* Media quieres TABLET */

@media (min-width: 768px) {
  body {
    align-items: start;
    padding: 20px 20px 0 20px;
  }
  header {
    align-items: start;
    width: 100%;
  }

  .header-bg {
    width: 666px;
    height: 666px;
    right: 0;
    left: 500px;
    top: -100px;
  }

  .illustration-charts {
    position: absolute;
    left: 500px;
    width: 280px;
    height: 313.011px;
    top: 270px;
  }

  .headerSection {
    align-items: start;
    text-align: start;
    width: 350px;
  }

  .hText {
    font-size: 40px;
    line-height: 120%; /* 67.2px */
    text-align: left;
  }

  .hPara {
    text-align: left;
  }


  /* MAIN */

  main{
    width: 100%;
  }

  .card, .card2{
    width: 100%;
    height: 259px;
    flex-direction: row;
    justify-content: space-around;
    gap: 350px;
    align-items: center;
    padding: 0 40px;
    position: relative;
  }

  .pricing-bg{
    display: block;
    position: absolute;
    right: 31%;
    z-index: 3
  }

  .cardHeader{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    margin-bottom: 60px;
    
  }

 

  .cardheader h5 {
    text-align: left;
    border: solid 1px red;
  }

  .cardBtnB{
    position:absolute;
    left: 6%;
    bottom: 9%;    
  }

  .cardBody, .card2 .cardBody {
    align-items: start;
  }
}
